<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">

      <!-- zebra image -->
      <div>
        <img
        src="./assets/ruchindra-gunasekara-ekvhtYbFBXI-unsplash.jpg"
        alt="Zebra photo by Ruchindra Gunasekara on Unsplash"
        style="max-width: 600px"
        />
      </div>

      <!-- image attribution -->
      <div>
        <em>
          Photo by
          <a class="attribution-link" href="https://unsplash.com/@ruchindra?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            Ruchindra Gunasekara
          </a>
          on
          <a class="attribution-link" href="https://unsplash.com/s/photos/zebra?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
            Unsplash
          </a>
        </em>
      </div>
    </div>
  </div>

  <!-- author bio -->
  <div fxFlex>
    <h1>Who is Robert M. Sapolsky?</h1>

    <p>
      Robert M. Sapolsky is a professor of biology and neurology at Stanford University
      and a research associate with the Institute of Primate Research, National Museum
      of Kenya. He is the author of <em>A Primate's Memoir</em> and
      <em>The Trouble with Testosterone</em>, which was a <em>Los Angeles Times</em>
      Book Prize finalist. A regular contributor to <em>Discover</em> and
      <em>The Sciences</em> and a recipient of a MacArthur Foundation "genius"
      grant, he lives in San Francisco.
    </p>

    <!-- bio attribution -->
    <span>Biography from Sapolsky's book: <em>Why Zebras Don't Get Ulcers</em> (1994)</span>
  </div>
</div>
