<!-- about -->
<h2>Wolfgang Amadeus Mozart</h2>
<br />
<div class="row">
  <div class="col-sm-4">
    <img class="img-fluid" src="../../assets/mozart.jpg" alt="Mozart portrait" />
    <figcaption>View photo on <a href="https://www.alamy.com/stock-photo-wolfgang-amadeus-mozart-portrait-34072322.html" target="_blank">Alamy</a></figcaption>
  </div>
  <div class="col-sm-8">
    <p>Widely recognized as one of the greatest composers in the history of Western music. With Haydn and Beethoven, he brought to its height – the achievement of the Viennese Classical school. Unlike any other composer in musical history, he wrote in all the musical genres of his day and excelled in every one of them. His taste, his command of form, and his range of expression have made him seem the most universal of all composers; yet, it may also be said that his music was written to accommodate the specific tastes of certain audiences. (Sadie, 1999)</p>
    <h6>References:</h6>
    <p>Sadie, S. (1999, July 26). Wolfgang Amadeus Mozart | Biography, Facts, & Works. Encyclopedia Britannica. https://www.britannica.com/biography/Wolfgang-Amadeus-Mozart</p>
  </div>
</div>


