<!-- 404 error page -->
<div fxLayout="column">
  <mat-card-content style="text-align: center">
    <h1 style="margin-top: 4em">
      <span id="error">404</span>
      <br /><br />
      Page Not Found
    </h1>

    <h1 class="error">Oh no! You found a page that doesn't exist!</h1>
    <img src="./assets/alexandra-gorn-smuS_jUZa9I-unsplash.jpg" alt="Peeking from under covers">
    <br />
    <span class="img-attribution">
      Photo by <a href="https://unsplash.com/@alexagorn?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alexandra Gorn</a> on <a href="https://unsplash.com/s/photos/oh-no?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </span>
    <br /> <br />

    <button mat-raised-button color="accent" routerLink="/">Back to home</button>
  </mat-card-content>
</div>
