<div fxLayout>
  <div fxFlex>
    <mat-card>
      <!-- card icon -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />

      <!-- address -->
      <mat-card-content class="align-center">
        <p>
          999 Las Vegas Blvd
        </p>
        <p>
          Las Vegas, Nevada
        </p>
        <br />
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card>
      <!-- card icon -->
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <!-- phone numbers -->
      <mat-card-content class="align-center">
        <p>
          Direct: 777-777-7777
        </p>
        <p>
          Toll-free: 1-800-777-7777
        </p>
        <p>
          Fax: 777-777-7777
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<!-- info text -->
<div fxLayout="column">
  <p style="text-align: center">
    Visit us online or at one of our many great locations throughout the Las Vegas area!
  </p>
</div>
