/* error page styles */
#error {
  font-size: 5em;
}

img {
  width: 400px;
  height: auto;
  border-radius: 50%;
}

.img-attribution {
  font-size: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}
